## import **datetime**

In [1]:
import pandas as pd
import numpy as np
import datetime

- 오늘 날짜, 시간

In [2]:
now=datetime.datetime.today()
print(now)

2021-06-01 13:13:18.410568

In [ ]:
print(now.year)
print(now.month)
print(now.hour)
print(now.minute)
print(now.second)

2021
5
16
33
20

### 날짜를 지정한다.

In [ ]:
date = datetime.date(2018, 9, 29)
print(date)

2018-09-29

In [ ]:
print(date.year)
print(date.month)
print(date.day)

2018
9
29

### 시간을 지정한다
- 시, 분, 초, microsecond

In [ ]:
time = datetime.time(12,30,19,463198)
print(time)

12:30:19.463198

In [ ]:
print(time.hour)
print(time.minute)
print(time.second)
print(time.microsecond)

12
30
19
463198

### 날짜와 시간을 지정한다.

In [ ]:
dt = datetime.datetime(2018, 9, 29, 12, 30, 19, 463198)
print(dt)

2018-09-29 12:30:19.463198

# import time

### 기준시 값을 출력 해본다.
- 1970년 1월 1일 0시 0분 0초 0ms(세계표준시) 시점을 0으로 잡고 1ms마다 1씩 시긴 숫자 형태로 관리한다

In [ ]:
time.gmtime(0)
time.time()

1620374463.2257044

### 데이터 프레임의 시간 관련 기능
- 기준시 : 1970-01-01 0:0:0.0 를 0으로 정한 값을 관리한다.
- 유닉스 탄생 시간

In [ ]:
pd.Timestamp(0)

Timestamp('1970-01-01 00:00:00')

In [ ]:
#날짜가 담겨있는 Series를 생성한다.
a1=pd.Timestamp(0)
s1=pd.Series(a1)
s1

0   1970-01-01
dtype: datetime64[ns]

#### 나노 세컨드 단위 셋티
- 초>밀리<마이크로>나노

In [ ]:
pd.Timestamp(17800)

Timestamp('1970-01-01 00:00:00.000017800')

#### 마이크로 세컨드

In [ ]:
pd.Timestamp(17800,unit='us')

Timestamp('1970-01-01 00:00:00.017800')

#### 밀리세컨드

In [ ]:
pd.Timestamp(17800,unit='ms')

Timestamp('1970-01-01 00:00:17.800000')

#### 초 : s, 분 : m, 시 : h, 날짜 : D, 월 : M, 년 : Y

In [ ]:
pd.Timestamp(17800, unit='D')

Timestamp('2018-09-26 00:00:00')

#### 날짜를 직접 지정한다.

In [ ]:

pd.Timestamp(year=2021, month=5, day=7, hour=17, minute=7, second=30,
            microsecond=100)

Timestamp('2021-05-07 17:07:30.000100')

In [ ]:
# Series에 저장되어 있는 정수값들을 날짜로 변환한다.
s1 = pd.Series([10, 100, 1000, 10000])
s1

0       10
1      100
2     1000
3    10000
dtype: int64

In [ ]:
pd.to_datetime(s1,unit='D')

0   1970-01-11
1   1970-04-11
2   1972-09-27
3   1997-05-19
dtype: datetime64[ns]

#### 데이터 프레임을 날짜로 변환한다
- 컬럼 이름이 중요하다.
- year, month, day, hour, minute, second, microsecond

In [ ]:
df = pd.DataFrame({
    'year' : [2015, 2016],
    'month' : [2, 3],
    'day' : [4, 5]
})
df

   year  month  day
0  2015      2    4
1  2016      3    5

In [ ]:
# 다시 datetime으로
df = pd.DataFrame({
    'year' : [2015, 2016],
    'month' : [2, 3],
    'day' : [4, 5]
})

pd.to_datetime(df)

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

#### 문자열로 되어 있는 값을 날짜로 변환한다.

- 년-월-일로 인식한다.
- s1 = pd.Series(['2018-01-01', '2019-01-01'])

- 월-일-년 으로 인식

In [ ]:
s1 = pd.Series(['01-01-2018', '01-01-2019'])

#오류발생
# s1 = pd.Series(['01-2018-01', '01-2019-01'])
#근데 진짜 이런 데이터면 format사용

#년도가 제일 앞에 있거나 제일 뒤에 있어야한다.

display(s1)

display(pd.to_datetime(s1))

0    01-01-2018
1    01-01-2019
dtype: object

0   2018-01-01
1   2019-01-01
dtype: datetime64[ns]

### format='%m-%Y-%d'
- 양식을 이용해 지정할 수 있다.
- https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

In [ ]:
s1 = pd.Series(['01-2018-01', '01-2019-01'])

pd.to_datetime(s1,format='%m-%Y-%d')

0   2018-01-01
1   2019-01-01
dtype: datetime64[ns]